<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <!-- Añadir Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/iconos/logo-reveloper-icon.ico' %}" type="image/x-icon">
</head>
<body>
    <header class="header">
        <img src="{% static 'img/logos/logo-reveloper.png' %}" alt="Reveloper" width="30">
        <h3>Reveloper</h3>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                {% if user.is_authenticated and user.is_superuser %}
                    <li><a href="{% url 'usuarios' %}">Usuarios</a></li>
                {% endif %}
                <li><a href="{% url 'proyectos' %}">Proyectos</a></li>
                <li><a href="{% url 'tareas_por_desarrollar' %}">Tareas</a></li>
                <li><a href="{% url 'evaluaciones' %}">Evaluaciones</a></li>
                <li><a href="{% url 'logout' %}" class="logout-link">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
