<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <!-- Añadir Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/iconos/logo-reveloper-icon.png' %}" type="image/x-icon">
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="header">
        <img src="{% static 'img/logos/logo-reveloper.png' %}" alt="Reveloper" width="50">
        <h3>Reveloper</h3>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                {% if user.is_authenticated and user.is_superuser %}
                    <li><a href="{% url 'usuarios' %}">Usuarios</a></li>
                    <li><a href="{% url 'revisar_tareas' %}">Revisar Tareas</a></li>
                    <li><a href="{% url 'busqueda' %}">Búsqueda</a></li>
                {% endif %}
                <li><a href="{% url 'proyectos' %}">Proyectos</a></li>
                <li><a href="{% url 'tareas_por_desarrollar' %}">Tareas</a></li>
                <li><a href="{% url 'evaluaciones' %}">Evaluaciones</a></li>
                <li><a href="{% url 'password_change' %}">Cambiar Contraseña</a></li>
                <li><a href="{% url 'logout' %}" class="logout-link">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main class="flex-grow-1">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer bg-dark text-white py-3 mt-auto">
        <div class="container text-center">
            <span>&copy; 2024 Reveloper. Todos los derechos reservados.</span>
        </div>
    </footer>
    <!-- Añadir Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
