{% extends 'base.html' %}

{% block title %}Búsqueda de Usuarios, Proyectos y Tareas{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Búsqueda de Usuarios</h1>
    <!-- Formulario de búsqueda de usuarios -->
    <form method="GET" action="{% url 'buscar_usuarios' %}" class="mb-4">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="fecha_alta_desde">Fecha de Alta Desde:</label>
                <input type="date" class="form-control" id="fecha_alta_desde" name="fecha_alta_desde">
            </div>
            <div class="form-group col-md-3">
                <label for="fecha_alta_hasta">Fecha de Alta Hasta:</label>
                <input type="date" class="form-control" id="fecha_alta_hasta" name="fecha_alta_hasta">
            </div>
            <div class="form-group col-md-6">
                <label for="nombre_o_apellido">Nombre o Apellido:</label>
                <input type="text" class="form-control" id="nombre_o_apellido" name="nombre_o_apellido" placeholder="Nombre o Apellido">
            </div>
            <div class="form-group col-md-12 d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Buscar</button>
                <a href="{% url 'busqueda' %}" class="btn btn-secondary">Limpiar Búsqueda</a>
            </div>
        </div>
    </form>
    
    {% if resultados_usuarios %}
    <h2 class="mt-4">Usuarios Encontrados:</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Username</th>
                <th>Fecha de Alta</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in resultados_usuarios %}
                <tr>
                    <td>{{ usuario.first_name }} {{ usuario.last_name }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.date_joined }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
 
    <!-- Botón Descargar informe PDF de usuarios -->
    <form method="GET" action="{% url 'generar_informe_pdf_usuarios' %}">
        <input type="hidden" name="nombre_o_apellido" value="{{ request.GET.nombre_o_apellido }}">
        <input type="hidden" name="fecha_alta_desde" value="{{ request.GET.fecha_alta_desde }}">
        <input type="hidden" name="fecha_alta_hasta" value="{{ request.GET.fecha_alta_hasta }}">
        <button type="submit" class="btn btn-success mt-4 mb-4">Descargar informe PDF</button>
    </form>
    <!-- Botón para Exportar a Excel -->
    <form method="GET" action="{% url 'exportar_usuarios_excel' %}">
        <input type="hidden" name="nombre_o_apellido" value="{{ request.GET.nombre_o_apellido }}">
        <input type="hidden" name="fecha_alta_desde" value="{{ request.GET.fecha_alta_desde }}">
        <input type="hidden" name="fecha_alta_hasta" value="{{ request.GET.fecha_alta_hasta }}">
        <button type="submit" class="btn btn-info mt-4 mb-4">Exportar a Excel</button>
    </form>
    {% endif %}


    <h1 class="mb-4">Búsqueda de Proyectos</h1>
    <!-- Formulario de búsqueda de proyectos -->
    <form method="GET" action="{% url 'buscar_proyectos' %}" class="mb-4">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="fecha_inicio_desde">Fecha de Inicio Desde:</label>
                <input type="date" class="form-control" id="fecha_inicio_desde" name="fecha_inicio_desde">
            </div>
            <div class="form-group col-md-3">
                <label for="fecha_inicio_hasta">Fecha de Inicio Hasta:</label>
                <input type="date" class="form-control" id="fecha_inicio_hasta" name="fecha_inicio_hasta">
            </div>
            <div class="form-group col-md-3">
                <label for="proyecto_id">ID del Proyecto:</label>
                <select class="form-control" id="proyecto_id" name="proyecto_id">
                    <option value="">Seleccione un Proyecto</option>
                    {% for proyecto in proyectos %}
                        <option value="{{ proyecto.id }}">{{ proyecto.id }} - {{ proyecto.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="titulo_palabras">Título (Palabras Clave):</label>
                <input type="text" class="form-control" id="titulo_palabras" name="titulo_palabras" placeholder="Palabras clave">
            </div>
            <div class="form-group col-md-12 d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Buscar</button>
                <a href="{% url 'busqueda' %}" class="btn btn-secondary">Limpiar Búsqueda</a>
            </div>
        </div>
    </form>

    <!-- Resultados de la búsqueda de proyectos -->
    {% if resultados %}
    <h2 class="mt-4">Proyectos Encontrados:</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Fin</th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in resultados %}
                <tr>
                    <td>{{ proyecto.nombre }}</td>
                    <td>{{ proyecto.descripcion }}</td>
                    <td>{{ proyecto.fecha_inicio }}</td>
                    <td>{{ proyecto.fecha_fin }}</td>
                </tr>
                <!-- Mostrar Tareas -->
                <tr>
                    <td colspan="4">
                        <h5>Tareas:</h5>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Tarea</th>
                                    <th>Asignado a</th>
                                    <th>Estado</th>
                                    <th>Fecha de Creación</th>
                                    <th>Fecha de Vencimiento</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tarea in proyecto.tareas %}
                                    <tr>
                                        <td>{{ tarea.titulo }}</td>
                                        <td>{{ tarea.usuario.first_name }} {{ tarea.usuario.last_name }}</td>
                                        <td>{{ tarea.estado }}</td>
                                        <td>{{ tarea.fecha_creacion }}</td>
                                        <td>{{ tarea.fecha_vencimiento }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
        <!-- Botón Descargar informe PDF de proyectos -->
        <form method="GET" action="{% url 'generar_informe_pdf_busqueda' %}">
            <input type="hidden" name="fecha_inicio_desde" value="{{ request.GET.fecha_inicio_desde }}">
            <input type="hidden" name="fecha_inicio_hasta" value="{{ request.GET.fecha_inicio_hasta }}">
            <input type="hidden" name="proyecto_id" value="{{ request.GET.proyecto_id }}">
            <input type="hidden" name="titulo_palabras" value="{{ request.GET.titulo_palabras }}">
            <button type="submit" class="btn btn-success mt-4 mb-4">Descargar informe PDF</button>
        </form>
        <!-- Botón para Exportar a Excel -->
         <form method="GET" action="{% url 'exportar_proyectos_excel' %}">
            <input type="hidden" name="fecha_inicio_desde" value="{{ request.GET.fecha_inicio_desde }}">
            <input type="hidden" name="fecha_inicio_hasta" value="{{ request.GET.fecha_inicio_hasta }}">
            <input type="hidden" name="proyecto_id" value="{{ request.GET.proyecto_id }}">
            <input type="hidden" name="titulo_palabras" value="{{ request.GET.titulo_palabras }}">
            <button type="submit" class="btn btn-info mt-4 mb-4">Exportar a Excel</button>
        </form>
    {% endif %}

    <h1 class="mb-4">Búsqueda de Tareas</h1>
    <!-- Formulario de búsqueda de tareas -->
    <form method="GET" action="{% url 'buscar_tareas' %}" class="mb-4">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="fecha_inicio_desde_tarea">Fecha de Inicio Desde:</label>
                <input type="date" class="form-control" id="fecha_inicio_desde_tarea" name="fecha_inicio_desde_tarea">
            </div>
            <div class="form-group col-md-3">
                <label for="fecha_inicio_hasta_tarea">Fecha de Inicio Hasta:</label>
                <input type="date" class="form-control" id="fecha_inicio_hasta_tarea" name="fecha_inicio_hasta_tarea">
            </div>
            <div class="form-group col-md-3">
                <label for="tarea_id">ID de la Tarea:</label>
                <select class="form-control" id="tarea_id" name="tarea_id">
                    <option value="">Seleccione una Tarea</option>
                    {% for tarea in tareas %}
                        <option value="{{ tarea.id }}">{{ tarea.id }} - {{ tarea.titulo }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="titulo_palabras_tarea">Título (Palabras Clave):</label>
                <input type="text" class="form-control" id="titulo_palabras_tarea" name="titulo_palabras" placeholder="Palabras clave">
            </div>
            <div class="form-group col-md-12 d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Buscar</button>
                <a href="{% url 'busqueda' %}" class="btn btn-secondary">Limpiar Búsqueda</a>
            </div>
        </div>
    </form>

    <!-- Resultados de la búsqueda de tareas -->
    {% if resultados_tareas %}
    <h2 class="mt-4">Tareas Encontradas:</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Asignado a</th>
                <th>Fecha de Creación</th>
                <th>Fecha de Vencimiento</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in resultados_tareas %}
                <tr>
                    <td>{{ tarea.titulo }}</td>
                    <td>{{ tarea.descripcion }}</td>
                    <td>{{ tarea.usuario.first_name }} {{ tarea.usuario.last_name }}</td>
                    <td>{{ tarea.fecha_creacion }}</td>
                    <td>{{ tarea.fecha_vencimiento }}</td>
                    <td>{{ tarea.estado }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <!-- Botón Descargar informe PDF de tareas -->
    <form method="GET" action="{% url 'generar_informe_pdf_tareas' %}">
        <input type="hidden" name="fecha_inicio_desde_tarea" value="{{ request.GET.fecha_inicio_desde_tarea }}">
        <input type="hidden" name="fecha_inicio_hasta_tarea" value="{{ request.GET.fecha_inicio_hasta_tarea }}">
        <input type="hidden" name="tarea_id" value="{{ request.GET.tarea_id }}">
        <input type="hidden" name="titulo_palabras" value="{{ request.GET.titulo_palabras }}">
        <button type="submit" class="btn btn-success mt-4 mb-4">Descargar informe PDF</button>
    </form>
    <!-- Botón para Exportar a Excel -->
     <form method="GET" action="{% url 'exportar_tareas_excel' %}">
        <input type="hidden" name="fecha_inicio_desde_tarea" value="{{ request.GET.fecha_inicio_desde_tarea }}">
        <input type="hidden" name="fecha_inicio_hasta_tarea" value="{{ request.GET.fecha_inicio_hasta_tarea }}">
        <input type="hidden" name="tarea_id" value="{{ request.GET.tarea_id }}">
        <input type="hidden" name="titulo_palabras" value="{{ request.GET.titulo_palabras }}">
        <button type="submit" class="btn btn-info mt-4 mb-4">Exportar a Excel</button>
    </form>
{% endif %}
</div>
{% endblock %}
