{% extends 'base.html' %}

{% block title %}Búsqueda de Proyectos{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Búsqueda de Proyectos</h1>
    <!-- Formulario de búsqueda -->
    <form method="GET" action="{% url 'buscar_proyectos' %}" class="mb-4">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="fecha_inicio_desde">Fecha de Inicio Desde:</label>
                <input type="date" class="form-control" id="fecha_inicio_desde" name="fecha_inicio_desde">
            </div>
            <div class="form-group col-md-3">
                <label for="fecha_inicio_hasta">Fecha de Inicio Hasta:</label>
                <input type="date" class="form-control" id="fecha_inicio_hasta" name="fecha_inicio_hasta">
            </div>
            <div class="form-group col-md-3">
                <label for="proyecto_id">ID del Proyecto:</label>
                <select class="form-control" id="proyecto_id" name="proyecto_id">
                    <option value="">Seleccione un Proyecto</option>
                    {% for proyecto in proyectos %}
                        <option value="{{ proyecto.id }}">{{ proyecto.id }} - {{ proyecto.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="titulo_palabras">Título (Palabras Clave):</label>
                <input type="text" class="form-control" id="titulo_palabras" name="titulo_palabras" placeholder="Palabras clave">
            </div>
            <div class="form-group col-md-12 d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Buscar</button>
                <!-- Botón de Limpiar Búsqueda -->
                <a href="{% url 'busqueda' %}" class="btn btn-secondary">Limpiar Búsqueda</a>
            </div>
        </div>
    </form>

    <!-- Resultados de la búsqueda -->
    {% if resultados %}
        <h2 class="mt-4">Proyectos Encontrados:</h2>
        <ul class="list-group">
            {% for proyecto in resultados %}
                <li class="list-group-item">
                    <strong>Nombre:</strong> {{ proyecto.nombre }}<br>
                    <strong>Descripción:</strong> {{ proyecto.descripcion }}<br>
                    <strong>Fecha de Inicio:</strong> {{ proyecto.fecha_inicio }}<br>
                    <strong>Fecha de Fin:</strong> {{ proyecto.fecha_fin }}
                    <!-- Mostrar Tareas -->
                    <ul class="task-list mt-2">
                        {% for tarea in proyecto.tareas %}
                            <li class="task-item">
                                <span><strong>Tarea:</strong> {{ tarea.titulo }}</span><br>
                                <span><strong>Asignado a:</strong> {{ tarea.usuario.first_name }} {{ tarea.usuario.last_name }}</span><br>
                                <span><strong>Estado:</strong> {{ tarea.estado }}</span><br>
                                <span><strong>Fecha de Creación:</strong> {{ tarea.fecha_creacion }}</span><br>
                                <span><strong>Fecha de Vencimiento:</strong> {{ tarea.fecha_vencimiento }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <!-- Botón Descargar informe PDF -->
        <form method="GET" action="{% url 'generar_informe_pdf_busqueda' %}">
            <input type="hidden" name="fecha_inicio_desde" value="{{ request.GET.fecha_inicio_desde }}">
            <input type="hidden" name="fecha_inicio_hasta" value="{{ request.GET.fecha_inicio_hasta }}">
            <input type="hidden" name="proyecto_id" value="{{ request.GET.proyecto_id }}">
            <input type="hidden" name="titulo_palabras" value="{{ request.GET.titulo_palabras }}">
            <button type="submit" class="btn btn-success mt-4 mb-4">Descargar informe PDF</button>
        </form>
    {% endif %}
</div>
{% endblock %}
