<!-- templates/evaluaciones.html -->
{% extends 'base.html' %}

{% block title %}Evaluaciones{% endblock %}

{% block content %}
<h1>Gestión de Evaluaciones</h1>
<ul>
    {% for evaluacion in evaluaciones %}
        <li>
            <h2>Evaluación de {{ evaluacion.proyecto.nombre }}</h2>
            <p><strong>Calificación:</strong> {{ evaluacion.calificacion }}</p>
            <p><strong>Comentarios:</strong> {{ evaluacion.comentarios }}</p>
            <p><strong>Fecha de Evaluación:</strong> {{ evaluacion.fecha_evaluacion }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}
