{% extends 'base.html' %}

{% block title %}Evaluaciones{% endblock %}

{% block content %}
<div class="container">
    <h1>Evaluaciones</h1>
    <ul>
        {% for evaluacion in evaluaciones %}
            <li>
                <h2>{{ evaluacion.titulo }}</h2>
                <p><strong>Calificación:</strong> {{ evaluacion.calificacion }}</p>
                <p><strong>Asignado a:</strong> {{ evaluacion.usuario.first_name }} {{ evaluacion.usuario.last_name }}</p>
                <p>{{ evaluacion.comentarios }}</p>
                <p><strong>Fecha de Evaluación:</strong> {{ evaluacion.fecha_evaluacion }}</p>
                <p><strong>Proyecto:</strong> {{ evaluacion.proyecto.nombre }}</p>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
