<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h1>Bienvenido al Dashboard</h1>
<div class="cards">
    <a href="{% url 'proyectos' %}" class="card">
        <h2>Proyectos</h2>
        <p>Gestiona tus proyectos</p>
    </a>
    <a href="{% url 'tareas_por_desarrollar' %}" class="card">
        <h2>Tareas</h2>
        <p>Gestiona tus tareas</p>
    </a>
    <a href="{% url 'evaluaciones' %}" class="card">
        <h2>Evaluaciones</h2>
        <p>Gestiona tus evaluaciones</p>
    </a>
</div>
{% endblock %}
