{% extends 'base.html' %}

{% block title %}Lista de Proyectos{% endblock %}

{% block content %}
<div class="container">
    <h1>Lista de Proyectos</h1>
    <ul class="project-list">
        {% for proyecto in proyectos %}
            <li class="project-item">
                <span><strong>Nombre:</strong> {{ proyecto.nombre }}</span>
                <span><strong>Descripción:</strong> {{ proyecto.descripcion }}</span>
                <span><strong>Fecha de Inicio:</strong> {{ proyecto.fecha_inicio }}</span>
                <span><strong>Fecha de Fin:</strong> {{ proyecto.fecha_fin }}</span>
            </li>
        {% endfor %}
    </ul>
    <!-- Botón para generar el informe PDF -->
    <a href="{% url 'generate_pdf' %}" class="btn btn-primary">Descargar Informe PDF</a>
</div>
{% endblock %}


