{% extends 'base.html' %}

{% block title %}Revisar Tareas{% endblock %}

{% block content %}
<div class="container">
    <h1>Revisar Tareas</h1>
    <p><strong>Nota Máxima Vigente: <span style="font-size: 1.5em;">{{ nota_maxima }}</span></strong></p>
    <div class="task-container">
        {% if tareas %}
            {% for tarea in tareas %}
                <div class="task">
                    <h2>{{ tarea.titulo }}</h2>
                    <p><strong>Descripción:</strong> {{ tarea.descripcion }}</p>
                    <p><strong>Estado:</strong> {{ tarea.estado }}</p>
                    <p><strong>Fecha de Creación:</strong> {{ tarea.fecha_creacion }}</p>
                    <p><strong>Fecha de Vencimiento:</strong> {{ tarea.fecha_vencimiento }}</p>
                    <p><strong>Proyecto:</strong> {{ tarea.proyecto.nombre }}</p>
                    <p><strong>Asignado a:</strong> {{ tarea.usuario.first_name }} {{ tarea.usuario.last_name }}</p>
                    <form action="{% url 'revisar_tareas' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="tarea_id" value="{{ tarea.id }}">
                        
                        <!-- Calificación Dinámica -->
                        <div>
                            <p><strong>Calificación: <span id="calificacion_total_{{ tarea.id }}">0</span></strong></p>
                        </div>
                        
                        {{ form.as_p }}

                        <button type="submit" class="btn btn-success">Aceptar Tarea Completada</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay tareas en revisión</p>
        {% endif %}
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Seleccionar todos los formularios
        const forms = document.querySelectorAll('form');

        forms.forEach(form => {
            const calificacionTotalElement = form.querySelector('[id^="calificacion_total_"]');
            const inputs = form.querySelectorAll('input[type="number"]');

            // Actualizar calificación total cuando se cambia el valor de un input
            inputs.forEach(input => {
                input.addEventListener('input', function() {
                    let calificacionTotal = 0;

                    inputs.forEach(input => {
                        const value = parseFloat(input.value) || 0;
                        calificacionTotal += value;
                    });

                    calificacionTotalElement.innerText = calificacionTotal.toFixed(2);  // Mostrar la calificación con dos decimales
                });
            });
        });
    });
</script>
{% endblock %}
