<!-- templates/tareas.html -->
{% extends 'base.html' %}

{% block title %}Tareas{% endblock %}

{% block content %}
<h1>Gestión de Tareas</h1>
<ul>
    {% for tarea in tareas %}
        <li>
            <h2>{{ tarea.titulo }}</h2>
            <p>{{ tarea.descripcion }}</p>
            <p><strong>Estado:</strong> {{ tarea.estado }}</p>
            <p><strong>Fecha de Creación:</strong> {{ tarea.fecha_creacion }}</p>
            <p><strong>Fecha de Vencimiento:</strong> {{ tarea.fecha_vencimiento }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}
