{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Usuarios{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Lista de Usuarios</h1>
    <div class="d-flex align-items-center mb-3">
        <button type="button" class="btn btn-info mr-2" data-toggle="modal" data-target="#userListModal">
            Mostrar Lista de Usuarios
        </button>
        <!-- Botón para generar el informe PDF -->
        <a href="{% url 'generate_user_pdf' %}" class="btn btn-primary mr-2">Descargar Informe PDF</a>
        <!-- Botón para ver el dashboard de rendimiento -->
        <a href="{% url 'dashboard' %}" class="btn btn-success mr-2">Ver Dashboard de Rendimiento</a>
        <!-- Botón para exportar todos los usuarios a Excel -->
        <a href="{% url 'exportar_todos_usuarios_excel' %}" class="btn btn-info">Exportar a Excel</a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="userListModal" tabindex="-1" role="dialog" aria-labelledby="userListModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-bottom modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userListModalLabel">Lista de Usuarios</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="user-list">
                        {% for usuario in usuarios %}
                            <li class="user-item">
                                <span><strong>Nombre:</strong> {{ usuario.first_name }} {{ usuario.last_name }}</span>
                                <span><strong>Username:</strong> {{ usuario.username }}</span>
                                <span><strong>Email:</strong> {{ usuario.email }}</span>
                                <span><strong>Fecha de Registro:</strong> {{ usuario.date_joined }}</span>
                                <div>
                                    <span><strong>Tareas Asignadas:</strong></span>
                                    <ul class="task-list">
                                        {% for tarea in usuario.tareas_asignadas %}
                                            <li class="task-item" style="background-color: #ed9393; color: black; padding: 10px; border-radius: 5px; margin-bottom: 10px;">
                                                <span><strong>Tarea:</strong> {{ tarea.titulo }}</span>
                                                <span><strong>Estado:</strong> {{ tarea.estado }}</span>
                                                <span><strong>Fecha de Creación:</strong> {{ tarea.fecha_creacion }}</span>
                                                <span><strong>Fecha de Vencimiento:</strong> {{ tarea.fecha_vencimiento }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
