{% extends 'base.html' %}

{% block title %}Lista de Usuarios{% endblock %}

{% block content %}
<div class="container">
    <h1>Lista de Usuarios</h1>
    <ul class="user-list">
        {% for usuario in usuarios %}
            <li class="user-item">
                <span><strong>Nombre:</strong> {{ usuario.first_name }} {{ usuario.last_name }}</span>
                <span><strong>Email:</strong> {{ usuario.email }}</span>
                <span><strong>Fecha de Registro:</strong> {{ usuario.date_joined }}</span>
                <!-- Puedes agregar más campos según lo necesites -->
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

