<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reveloper Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loading.css' %}">
    <link rel="shortcut icon" href="{% static 'img/iconos/logo-reveloper-icon.png' %}" type="image/x-icon">
</head>
<body class="login">
    <!-- Pantalla de carga con video -->
    <div class="loading-container" id="loading-screen">
        <video autoplay muted playsinline>
            <source src="{% static 'videos/animacion.mp4' %}" type="video/mp4">
        </video>
    </div>

    <img src="{% static 'img/logos/logo-reveloper.png' %}" alt="Reveloper" width="200">
    <div class="container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger" style="color: white; background-color: red;">
                    {{ form.non_field_errors|join:" " }}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="id_username">Username</label>
                {{ form.username }}
            </div>
            <div class="form-group password-wrapper">
                <label for="id_password">Password</label>
                {{ form.password }}
                <span class="toggle-password" onclick="togglePassword()">👁️</span>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
    <script>
        function togglePassword() {
            var passwordField = document.getElementById("id_password");
            var toggleIcon = document.querySelector(".toggle-password");
            if (passwordField.type === "password") {
                passwordField.type = "text";
                toggleIcon.textContent = "🙈";
            } else {
                passwordField.type = "password";
                toggleIcon.textContent = "👁️";
            }
        }
        // Script para ocultar la pantalla de carga después del video
        document.addEventListener('DOMContentLoaded', function() {
            var video = document.querySelector('.loading-container video');
            video.onended = function() {
                document.getElementById('loading-screen').style.display = 'none';
            };
            // Ocultar la pantalla de carga después de un tiempo fijo (fallback)
            setTimeout(function() {
                document.getElementById('loading-screen').style.display = 'none';
            }, 10000); // 10 segundos
        });
    </script>
</body>
</html>
