body {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #343a40;
  color: white;
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.header img {
  margin-left: 20px;
}

.header h3 {
  margin-left: 10px;
}

.header nav {
  margin-left: auto; /* Mueve el nav al extremo derecho */
  margin-right: 20px;
}

.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header nav ul li {
  margin-right: 30px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}

.header nav ul li a.logout-link {
  color: yellow; /* Cambia el color del enlace de cerrar sesión a amarillo */
}

.cards {
  display: flex;
  justify-content: center; /* Centramos las cards horizontalmente */
  margin: 50px 0; /* Añadimos un margen superior e inferior para separar del borde */
}

.cards .card {
  background-color: #138496; /* Color de fondo original */
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  width: 30%;
  margin: 0 15px; /* Añadimos margen lateral entre las cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.cards .card:hover {
  background-color: #0d5b67; /* Color de fondo al pasar el cursor */
}

.container h1 {
  margin-top: 50px; /* Ajuste del margen superior del <h1> */
}

.admin-link {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container ul {
  list-style-type: none; /* Elimina los puntos de lista */
  padding: 0; /* Elimina el padding */
  text-align: center; /* Centra el contenido */
}
